body{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}
.game-area{
    position: relative;
    background:rgb(108, 157, 255);
    background:linear-gradient(0deg, rgb(129, 162, 255) 0%, rgb(176, 202, 255) 35%, rgba(129, 162, 255) 100%);
    width: 100%;
    height:98vh;
    margin: 0;
}
.game-start{
    position: absolute;
    width: 20%;
    background-color:rgb(230, 255, 69);
    border-radius: 30px;
    top: 100px;
    left: 37%;
    text-align:center;
    padding:30px;
    z-index: 1;
    cursor:pointer;
} 
.game-score{
    text-align:center;
    color:black;
    background:rgb(230, 255, 69);
}                      
.hide{
    display:none;
}
.wizard{
    z-index: 1;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(./images/mywizard.png);
    background-size: cover;
}